<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
    </head>
    <body>
        <h1 style="float:left;color:orange"><a href="http://localhost/b2/web/app_dev.php"><strong>Beetoo</strong></a></h1>
        <div style='padding-top:50px;'>
            <h2 style="color:orange">  Nouvelle Requête</h2>
            <fieldset >
                <legend class="text-primary">Informations réclammation</legend>
                <table>
                    <thead>
                        <tr><th>Date de réception</th><th>Date de création</th><th>Source</th><th>Opération</th></tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ requete.dateReception }}</td><td>{{ requete.dateCreation }}</td>
                            <td>{{ requete.source }}</td><td>{{ requete.operation }}</td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>
            <fieldset >
                <legend class="text-primary">Données client</legend>
                <table>
                    <thead>
                        <tr><th>Compte</th><th>Nom du client/contact</th><th>Commercial associé</th><th>Ligne</th></tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ requete.compteClient }}</td><td>{{ requete.nomClient }}</td>
                            <td></td><td>{{ requete.ligne }}</td>
                        </tr>
                    </tbody>
                </table>    
            </fieldset>
            <fieldset>
                <legend class="text-primary">Remarques et pièces jointes</legend>
                <p>
                <center>{{ requete.remarquesInitiales }}</center>
                </p>

            </fieldset>
            <p> Veuillez vous connecter à l'outil pour plus d'informations</p>
        </div>
    </body>
</html>
