<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
    </head>
    <body>
        <h1 style="float:left;color:orange"><strong>Beetoo</strong></a></h1>
    <div style='padding-top:50px;'>
        <fieldset>
            <legend class="text-primary">Informations réclammation</legend>
            <table style='border:solid;border-width:1px;width: 100%;border-color:rgb(176,33,26)'>
                <thead>
                    <tr><th style='border:solid;border-width:1px;border-color:rgb(176,33,26)'>Date de réception</th>
                        <th style='border:solid;border-width:1px;border-color:rgb(176,33,26)'>Date de création</th>
                        <th style='border:solid;border-width:1px;border-color:rgb(176,33,26)'>Source</th>
                        <th style='border:solid;border-width:1px;border-color:rgb(176,33,26)'>Opération</th></tr>
                </thead>
                <tbody>
                    <tr>
                        <td style='border:solid;border-width:1px;border-color:rgb(176,33,26)'>{{ requete.dateReception }}</td><td style='border:solid;border-width:1px;width: 100%;border-color:rgb(176,33,26)'>{{ requete.dateCreation }}</td>
                        <td style='border:solid;border-width:1px;border-color:rgb(176,33,26)'>{{ requete.source }}</td><td style='border:solid;border-width:1px;width: 100%;border-color:rgb(176,33,26)'>{{ requete.operation }}</td>
                    </tr>
                </tbody>
            </table>
        </fieldset>
        <fieldset >
            <legend class="text-primary">Données client</legend>
            <table style='border:solid;border-width:1px;width: 100%;border-color:rgb(176,33,26)'>
                <thead>
                    <tr><th style='border:solid;border-width:1px;border-color:rgb(176,33,26)'>Compte</th>
                        <th style='border:solid;border-width:1px;border-color:rgb(176,33,26)'>Nom du client/contact</th>
                        <th style='border:solid;border-width:1px;border-color:rgb(176,33,26)'>Commercial associé</th><th>Ligne</th></tr>
                </thead>
                <tbody>
                    <tr>
                        <td style='border:solid;border-width:1px;border-color:rgb(176,33,26)'>{{ requete.compteClient }}</td>
                        <td style='border:solid;border-width:1px;border-color:rgb(176,33,26)'>{{ requete.nomClient }}</td>
                        <td style='border:solid;border-width:1px;border-color:rgb(176,33,26)'></td>
                        <td style='border:solid;border-width:1px;border-color:rgb(176,33,26)'>{{ requete.ligne }}</td>
                    </tr>
                </tbody>
            </table>    
        </fieldset>

        <p> Veuillez vous connecter à l'outil pour plus d'informations sur la requête</p>
    </div>
</body>
</html>
