<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ path('homepage') }}">
            <img src="{{ asset('img/logo_ocm.jpg') }}" width="35" style="display:inline;padding-top:0px;"/>
            <h3 style="display:inline"> Beetoo</h3>
        </a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">

        <!-- /.dropdown -->

        <!-- /.dropdown -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                {#<span style="color:white">{{ app.session.get('utilisateur').nom }}</span>#} <i class="fa fa-user fa-fw" style="color:orange"></i> <i class="fa fa-caret-down" style="color:orange"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="#"><i class="fa fa-user fa-fw"></i> Mon profil</a>
                </li>
                <li><a href="#"><i class="fa fa-gear fa-fw"></i> Paramètres</a>
                </li>
                <li class="divider"></li>
                <li><a href="{{ path("logout") }}"><i class="fa fa-sign-out fa-fw"></i> Déconnexion</a>
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar" style="color:white" role="navigation" st>
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li class="sidebar-search">
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                    <!-- /input-group -->
                </li>
                <li>
                    <a href="{{ path("homepage") }}"><i class="fa fa-home fa-home" style='color:black'></i> Accueil</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-line-chart fa-fw" style='color:black'></i> Suivi du Parc <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li id='syntheseHebdo'>
                            <a href="{{ path('synthese_hebdo') }}">Synthèse Hebdo</a>
                        </li>
                         <li id='syntheseMensuelle'>
                            <a href="{{ path('synthese_mensuelle') }}">Synthèse Mensuelle</a>
                        </li>
                        <li id='evolutionHebdoParOffre'>
                            <a href="#">Evolution hebdo par offre</a>
                        </li>
                        <li id='evolutionHebdoParOffre'>
                            <a href="#">Evolution mensuelle par offre</a>
                        </li>
                        <li id='evolutionMensuelleParOffre'>
                            <a href="#">Evolution hebdo par offre</a>
                        </li>
                        <li id='evolutionMensuelleParOffre'>
                            <a href="#">Top Clients</a>
                        </li>
                        <li id="detailsHebdo">
                            <a href="{{ path('details_hebdo') }}">Détails Hebdo</a>
                        </li>
                        <li>
                            <a href="{{ path('activation_hebdo_par_client') }}" data-toggle="tooltip"  title="De votre choix">Activation Hebdo par client</a>
                        </li>
                        <li>
                            <a href="#"> Détails Activations </a>
                        </li>
                        <li>
                            <a href="#">Parc et activations</a>
                        </li>
                        <li>
                            <a href="#">Parc par type</a>
                        </li>                      
                        <li>
                            <a href="#">Détails parc par type</a>
                        </li>                      
                    </ul>
                   
                </li>                

                <!-- /.nav-second-level -->

                <li>
                    <a href="#"><i class="fa fa-money fa-fw" style='color:black'></i> Suivi du CA<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">

                        <li>
                            <a href="{{ path('synthese_ca') }}">Synthese CA</a>
                        </li>
                        <li id="listingCA">
                            <a href="{{ path("listing_ca") }}">Listing CA</a>
                        </li>
                        <li>
                            <a href="flot.html" title="Classement du CA par mois par entreprise">Ranking CA</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="#"><i class="fa fa-exclamation-triangle fa-fw" style='color:black'></i> Requêtes <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">

                        <li>
                            <a href="{{ path('listing_requetes') }}"><span class='glyphicon glyphicon-list' style='color:orange'></span>&nbsp;Listing des requêtes</a>
                        </li>

                        <li>
                            <a href="{{ path('saisie_requetes') }}"><span class='glyphicon glyphicon-plus' style='color:orange'></span>&nbsp;Nouvelle requête</a>
                        </li>

                        <li>
                            <a href="#"><span class='glyphicon glyphicon-stats' style='color:orange'></span>&nbsp;Statistiques requêtes</a>
                        </li>


                    </ul>
                    <!-- /.nav-second-level -->

                    <!-- /.nav-third-level -->

                </li>   


            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>
